*.suo
*.user
*.ncb
*.sdf
*.opensdf
*.exp
*.pyc
*.VC.db
*.opendb
**/.vs/*
**/Gen_ReflectionInit.h
.generated/build/*
workingdir/**/*.exe
workingdir/editor_logs/*
workingdir/logs/*
workingdir/bin/*
workingdir/Modules/*
workingdir/EditorModules/*
workingdir/DevModules/*
workingdir/tests/*
