*.sublime-project
*.sublime-workspace
*.suo
#*.user
*.ncb
*.sdf
*.opensdf
*.exp
*.pyc
*.VC.db
*.opendb
**/.vs/*
workingdir/bin/*
workingdir/DevModules/*
workingdir/logs/*
workingdir/Modules/*
workingdir/EditorModules/*
workingdir/Tests/*
workingdir/Tools/*
**/.DS_Store
.vscode/*
**/.idea/*
.cache/*
*.rdbg
build/*