*.sublime-project
*.sublime-workspace
*.suo
#*.user
*.ncb
*.sdf
*.opensdf
*.exp
*.pyc
*.VC.db
*.opendb
**/.vs/*
**/Gen_StaticReflectionInit.h
**/Gen_ReflectionInit.h
.generated/build/*
workingdir/**/*.exe
workingdir/bin/*
workingdir/DevModules/*
workingdir/logs/*
workingdir/Modules/*
workingdir/EditorModules/*
workingdir/tests/*
workingdir/tools/*
src/**/.generated/*
src/Dependencies/LuaJIT/**/*.lib
src/Dependencies/LuaJIT/**/*.dll
src/Dependencies/LuaJIT/**/*.exe
src/Dependencies/LuaJIT/**/*.pdb
src/Dependencies/LuaJIT/src/jit/vmdef.lua
src/Dependencies/LuaJIT/already_built_*.txt
.generated/preproc/*
